body.test {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}
.intro {
  width:100vw;
  min-height: calc(100vh - 110px);
  align-items: center !important;
  justify-content: center !important;
  h2 {
    color: $color-success;
    text-transform: none;
  }
}
.test-structure{
  position: absolute;
  width: 100%;
  min-height: calc(100vh - 88px);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
  img {
    max-height: 400px;
  }
  .option-with-select {
    &-senales {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        select {
          margin-bottom: 0;
          margin-left: $space-2;
          border: 1px solid $gray-ghost;
          padding: 8px;
          height: 40px;
          width: 80px;
        }
      }
    }
    p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      select {
        margin-bottom: 0;
        margin-left: $space-2;
        border: 1px solid $gray-ghost;
        padding: 8px;
        height: 40px;
        width: 80px;
      }
    }
  }
  .unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: calc(100vh - 110px);
    &.image-container {
      @media screen and (max-width: 768px){
        display: none;
      }
    }
    &:first-of-type {
      align-items: flex-start;
    }
  }
  &.hide-top {
    top: -100vh
  }
  &.hide-bottom {
    top: 100vh;
  }
  &.hide-left {
    left: -100vw;
  }
  &.hide-right {
    left: 100vw;
  }
}
// Styles for the exam particular
select.custom-exam {
  margin: 0;
  min-width: 48px;
  max-width: fit-content;
  padding: 8px;
  border: solid;
  height: 40px;
  font-weight: bold;
  &.success {
    border-color: $color-success;
  }
  &.wrong {
    border-color: $color-danger;
  }
}
.option-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  &.horizontal {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  p {
    margin-bottom: 8px;
  }
  input[type=checkbox] {
    margin: 0;
    margin-right: 8px;
  }
  .question-option-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 16px;
  }
  .test-option-order {
    display: flex;
    width: 320px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
    img {
      max-width: 50%;
    }
    img,label {
      margin: 0;
      margin-right: 8px;
    }
    select {
      margin-left: auto;
    }
  }
}
// Questions special requesting
.question-four {
  margin-bottom: 24px;
}
.over-screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: transparent;
  &.success {
    background-color: rgba($color-success, 0.2);
  }
  &.danger {
    background-color: rgba($color-danger, 0.2);
  }
}
